@charset "utf-8";
/* CSS Document */
body{
	margin: 0px;
	background-color:#2B0000;
}
.MainTable {
	background-color:#600 ;
	color:#FFF;
	font-size:24px;
	font-weight:200;
	font-family: Arial, Times, "Times New Roman", serif;
	text-transform: uppercase;
	font-weight:bold;
	letter-spacing:4px;
}
.MainTable1 {
	
	color:#FFF;
	font-size : 24px;
	font-weight:200;
	font-family: Arial, Times, "Times New Roman", serif;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing:4px;
}
.Sub1 {
	font:"Courier New", Courier, monospace;
	font-size:16px;
	font-style:normal;
	color:#FFF;
	font-weight:100;
	letter-spacing:normal;


}
.sub2{
	background-color:#FFF;
	color:#000;
	font-size : 24px;
	font-weight:200;
	font-family: Arial, Times, "Times New Roman", serif;
	font-weight: bold;
}
.sub3{
	background-color:#FFF;
	color:#000;
	font-size : 14px;
	font-weight:200;
	font-family: Arial, Times, "Times New Roman", serif;
}
.copy{
	font:"Courier New", Courier, monospace;
	font-size:16px;
	font-style:normal;
	color:#FFF;
	font-weight:100;
	letter-spacing:normal;	

}



.panal{
	margin-bottom:1px;
	margin-left:30px;
	margin-right:2px;
	margin-top:0px;
	border:1px;
	width:40px;
	height:40px;
	display:inline;
	float:left;
	z-index:1px;
	background-color:#FFF;}
